.options-list {
  list-style: none;
  height: 25px;
  width: fit-content;
  display: flex;
  align-items: center;
  column-gap: 12px;
  padding-inline: 8px;
  border-right: 1px solid white;
}

.item-list {
  cursor: pointer;
  &&:hover {
    opacity: 0.7;
  }
}

.button {
  background: none;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
  &&:hover {
    opacity: 0.7;
  }
}
